# my global config
global:
  scrape_interval:     2m # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 2m # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['{{ monitoring_ip }}:9090', '{{ monitoring_ip }}:9100']
      labels:
        instance: prometheus

  - job_name: 'mysql'
    static_configs:
      - targets: ['{{ litsen_database }}']
    labels:
        instance: db1

  - job_name: 'nginx'
    scrape_interval: 2m
    metrics_path: '/prometheus'
    static_configs:
      - targets: ['{{ litsen_load }}']
        labels:
          instance: lb

  - job_name: 'gunicorn'
    static_configs:
      - targets: ['{{ litsen_app }}']
        labels:
        instance: as